body {
background-color: #d4e6eb;
font-family: Bahnschrift;
}
h1{
    text-align: center;
    font-family: Tahoma;
}
#display {
    background-color: #bbefff;
    width: 300px;
    height: 40px;
    border: solid 2px;
    border-radius: 5px;
    padding: 5px;
    margin:auto;
    text-align: right;
    line-height: 50px;
    font-size: 20px;
}

/* BOTONES (general, solo afecta a los numeros) */

button {
    background-color: rgb(250, 231, 149);
    width: 60px;
    height: 60px;
    border-radius: 25px;
    margin: 6px;
    font-family: Bahnschrift;
    font-size: 18px;
}
button:hover {
    background-color: rgb(255, 243, 188);
}
button:active {
    background-color: rgb(192, 178, 113);
}
#zero {
    margin-left: 80px;
    margin-right: 80px;
}

/* BOTONES (operadores) */

.op {
    background-color: rgb(253, 198, 135);
    height: 46px;
}
.op:hover {
    background-color: rgb(255, 206, 149);
}
.op:active {
    background-color: rgb(189, 149, 104);
}

/* Posicion */

.container {
    margin: auto;
    width: 300px;
}
.nums {
    float: left;
}
.ops {
    width: 50px;
    float: right;
}